:root {
  --v-tooltip-backgroundColor: #4b5563;
  --v-tooltip-borderRadius: 0.25rem;
  --v-tooltip-border: none;
  --v-tooltip-boxShadow: 0 1em 2em -0.5em rgb(0 0 0 / 35%);
  --v-tooltip-color: #ffffff;
  --v-tooltip-fontSize: 0.8rem;
  --v-tooltip-top: null;
  --v-tooltip-bottom: null;
  --v-tooltip-left: null;
  --v-tooltip-right: null;
  --v-tooltip-maxWidth: max-content;
  --v-tooltip-opacity: 0;
  --v-tooltip-padding: 0.625em;
  --v-tooltip-textAlign: left;
  --v-tooltip-transitionDelay: 0.3s;
  --v-tooltip-transitionDuration: 0.25s;
  --v-tooltip-transitionTimingFunction: ease-in-out;
  --v-tooltip-translate: translate(-50%, calc(-100% - 12px));
  --v-tooltip-visibility: hidden;
  --v-tooltip-width: max-content;
  /****  arrow ****/
  --v-tooltip-arrowBorderColor: var(--v-tooltip-backgroundColor) transparent transparent transparent;
  --v-tooltip-arrowDisplay: none;
  --v-tooltip-arrowTop: null;
  --v-tooltip-arrowBottom: null;
  --v-tooltip-arrowLeft: null;
  --v-tooltip-arrowRight: null;
  --v-tooltip-arrowOpacity: 0;
  --v-tooltip-arrowTranslate: translate(-50%, 100%);
  --v-tooltip-arrowVisibility: hidden;
}

.tooltip-parent {
  position: relative;
}

.tooltip {
  background-color: var(--v-tooltip-backgroundColor);
  border-radius: var(--v-tooltip-borderRadius);
  border: var(--v-tooltip-border);
  box-shadow: var(--v-tooltip-boxShadow);
  color: var(--v-tooltip-color);
  font-size: var(--v-tooltip-fontSize);
  max-width: var(--v-tooltip-maxWidth);
  opacity: var(--v-tooltip-opacity);
  overflow-wrap: break-word;
  padding: var(--v-tooltip-padding);
  position: absolute;
  text-align: var(--v-tooltip-textAlign);
  top: var(--v-tooltip-top);
  bottom: var(--v-tooltip-bottom);
  left: var(--v-tooltip-left);
  right: var(--v-tooltip-right);
  transform: var(--v-tooltip-translate);
  transition-delay: 0s;
  transition-duration: var(--v-tooltip-transitionDuration);
  transition-property: all;
  transition-timing-function: var(--v-tooltip-transitionTimingFunction);
  visibility: var(--v-tooltip-visibility);
  width: var(--v-tooltip-width);
  z-index: 10;
}
/****  arrow ****/
.tooltip::after {
  content: '';
  border-color: var(--v-tooltip-arrowBorderColor);
  border-style: solid;
  border-width: 6px;
  display: var(--v-tooltip-arrowDisplay);
  opacity: var(--v-tooltip-arrowOpacity);
  position: absolute;
  top: var(--v-tooltip-arrowTop);
  bottom: var(--v-tooltip-arrowBottom);
  left: var(--v-tooltip-arrowLeft);
  right: var(--v-tooltip-arrowRight);
  transform: var(--v-tooltip-arrowTranslate);
  transition-delay: 0s;
  transition-duration: var(--v-tooltip-transitionDuration);
  transition-property: all;
  transition-timing-function: var (--v-tooltip-transitionTimingFunction);
  visibility: var(--v-tooltip-arrowVisibility);
  z-index: 10;
}

.tooltip-parent:hover > .tooltip,
.tooltip::after {
  opacity: 1;
  transition-delay: var(--v-tooltip-transitionDelay);
  transition-duration: var(--v-tooltip-transitionDuration);
  transition-timing-function: var(--v-tooltip-transitionTimingFunction);
  visibility: visible;
}

.tooltip h1,
.tooltip h2,
.tooltip h3,
.tooltip h4,
.tooltip h5,
.tooltip h6 {
  color: var(--v-tooltip-color);
}
